*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
.page1, .page2, .page3, .page4{
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    overflow: hidden;
}
.circle{
    width: 20%;
    height: 20%;
    background-color: orangered;
}
.text{
    font-size: 20vw;
    color:black;
    position: relative;
    left:-120%;
    text-transform: uppercase;
}